<h3>Change Password</h3>

<form
      [formGroup]="passwordForm"
      (ngSubmit)="doSubmit(passwordForm.value)">
    <section class="form-block">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group row current-password">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="required">Current password</label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label for="currentPasswordInput" aria-haspopup="true" role="tooltip"
                              class="tooltip tooltip-validation tooltip-md"
                              [class.invalid]="invalidCurrentPwd">
                            <input type="password" id="currentPasswordInput"
                                  formControlName="currentPassword"
                                  (keyup)="resetInvalidCurrentPwd()">
                            <span class="tooltip-content"
                                  *ngIf="invalidCurrentPwd">Incorrect current password</span>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="required">New Password</label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>
                            <input type="password" formControlName="newPassword"
                                  (focus)="resetError()" (focusout)="markPwdPolicyErrors()"
                                  (keyup)="verifyPassword()">
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="required">Confirm New Password</label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>
                            <input type="password" id="confirm" formControlName="confirmPassword"
                                  (focus)="resetError()" (keyup)="enablePwdNotMatch()">
                        </label>
                    </div>
                </div>
            </div>

            <div [ngStyle]="{'margin-top': 0}" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 validator card">
                <div class="card-block">
                    <div><strong>Password must contain:</strong></div>
                    <div>
                        <clr-icon shape="success" class="is-success" *ngIf="validationMap.length"></clr-icon>
                        <clr-icon shape="times" class="is-error"
                                  *ngIf="!validationMap.length && showPolicyErrors"></clr-icon>
                        <clr-icon shape="circle" class="is-solid" size="6"
                                  *ngIf="!validationMap.length && !showPolicyErrors"></clr-icon>
                                  At least 8 and at most 20 characters
                    </div>
                    <div>
                        <clr-icon shape="success" class="is-success" *ngIf="validationMap.special"></clr-icon>
                        <clr-icon shape="times" class="is-error"
                                  *ngIf="!validationMap.special && showPolicyErrors"></clr-icon>
                        <clr-icon shape="circle" class="is-solid" size="6"
                                  *ngIf="!validationMap.special && !showPolicyErrors"></clr-icon>
                                  At least one special character
                    </div>
                    <div>
                        <clr-icon shape="success" class="is-success" *ngIf="validationMap.capital"></clr-icon>
                        <clr-icon shape="times" class="is-error"
                                  *ngIf="!validationMap.capital && showPolicyErrors"></clr-icon>
                        <clr-icon shape="circle" class="is-solid" size="6"
                                  *ngIf="!validationMap.capital && !showPolicyErrors"></clr-icon>
                                  At least one upper case letter {{specialCharacter}}
                    </div>
                    <div>
                        <clr-icon shape="success" class="is-success" *ngIf="validationMap.lowercase"></clr-icon>
                        <clr-icon shape="times" class="is-error"
                                  *ngIf="!validationMap.lowercase && showPolicyErrors"></clr-icon>
                        <clr-icon shape="circle" class="is-solid" size="6"
                                  *ngIf="!validationMap.lowercase && !showPolicyErrors"></clr-icon>
                                  At least one lower case letter
                    </div>
                    <div>
                        <clr-icon shape="success" class="is-success" *ngIf="validationMap.number"></clr-icon>
                        <clr-icon shape="times" class="is-error"
                                  *ngIf="!validationMap.number && showPolicyErrors"></clr-icon>
                        <clr-icon shape="circle" class="is-solid" size="6"
                                  *ngIf="!validationMap.number && !showPolicyErrors"></clr-icon>
                                  At least one number
                    </div>
                    <div>
                        <clr-icon shape="success" class="is-success" *ngIf="validationMap.highAscii"></clr-icon>
                        <clr-icon shape="times" class="is-error"
                                  *ngIf="!validationMap.highAscii && showPolicyErrors"></clr-icon>
                        <clr-icon shape="circle" class="is-solid" size="6"
                                  *ngIf="!validationMap.highAscii && !showPolicyErrors"></clr-icon>
                                  No high ASCII characters
                    </div>
                </div>
            </div>
        </div>

        <div  class="row" *ngIf="showError() && enablePwdNotMatchError">
            <div class="col-xs-6">
                <div class="alert alert-danger">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            Passwords do not match
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="success">
            <div class="col-xs-6">
                <clr-alert [clrAlertType]="'alert-success'"
                        [(clrAlertClosed)]="successMessageClosed">
                    <div class="alert-item">
                        <span class="alert-text">
                          You have successfully changed your password. A confirmation email will be sent to your email address.
                        </span>
                    </div>
                </clr-alert>
            </div>
        </div>

        <div class="row control-row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <button type="submit" class="btn-save btn btn-primary"
                        [disabled]="!passwordForm.valid || pending">Change Password
                </button>
                <span *ngIf="pending" class="spinner spinner-inline"></span>
                <span *ngIf="pending">Please wait...</span>
            </div>
        </div>

    </section>
</form>
